/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --grey-tin2-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/
.container-nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  margin-top: 40px;
}
.nav-logo img {
  width: 61px;
  height: 19px;
}
.img-text-nav {
  align-self: end;
}

.container-menu {
  height: 79px;
  display: flex;
  margin-top: 22px;
}
.container-menu:nth-child(n + 2) {
  gap: 36px;
}

.container-menu a:hover {
  border-top: 4px solid var(--main-color);
  color: var(--main-color);
  padding-top: 18px;
}

/****** search ***********/
.search-form {
  width: 377px;
  display: flex;
  border: 1px solid var(--main-bg-color);
  justify-content: space-between;
  border-radius: 15px;
  margin: 35px 0;
}
.search-form label {
  border-radius: 15px 0 0 15px;
  background-color: var(--main-bg-color);
}
.search-form button {
  border-radius: 0 15px 15px 0;
  background-color: var(--main-color);
  color: var(--main-bg-color);
  font-weight: 700;
}
.search-form input {
  width: 100%;
  text-align: center;
}
.search-form input,
span {
  font-size: 18px;
  font-weight: 700;
}
.search-form input,
button {
  border: none;
}
.search-form button,
label {
  padding: 14px 16px;
}
/****** filter ***********/
.filter-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filter-form input {
  display: none;
}
.filter-form div label {
  border: 1px solid var(--grey-tin2-color);
  border-radius: 25px;
}
.filter-form span:nth-child(2) {
  padding-left: 10px;
}

/****** Hebergements à Marseille ***********/
.hebergements .populaires-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}
.hebergements .populaires-cards .card {
  display: block;
  height: 250px;
  width: 250px;
  margin: 0;
}
.hebergements .card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.hebergements h3 {
  margin-top: 33px;
  font-size: 18px;
}
.hebergements .section-title {
  margin-bottom: 33px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
.filter-form div {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.filter-form div label:hover {
  background-color: var(--filter-bg-color);
}
.info {
  display: flex;
  align-items: center;
}
.info div {
  border: 1px solid var(--grey-tin2-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.info div i {
  align-self: center;
}
.search-container,
.filter-container,
.info {
  margin: 20px 0;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activites ***********/

.hebergements-and-populaires .activites {
  background-color: white;
  padding: 0;
  margin: 30px 0;
  width: 100%;
}
.hebergements-and-populaires .activites-card {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.activites .card {
  border-radius: 0;
  padding: 0;
  border-radius: 20px;
  height: 439px;
}
.activites img {
  width: 100%;
  height: 85%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.activites a {
  width: 24%;
}
.activites h4 {
  /* padding: 10px;
  margin: auto; */
  /* margin: revert; */
  padding-left: 4px;
}

/****** Footer ***********/

.footer-container {
  background-color: var(--main-bg-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.footer-container h2 {
  font-size: 18px;
  margin: 0;
}
.footer-container .link-footer {
  padding-top: 15px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }
  .container-nav {
    flex-direction: column;
    align-items: center;
  }
  .container-menu {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    text-align: center;
  }
  .container-menu div:nth-child(n + 1) {
    width: 100%;
    border-bottom: 2px solid var(--grey-tin2-color);
    padding-bottom: 10px;
  }
  .container-menu div:nth-child(n + 1):hover {
    border-bottom: 2px solid var(--main-color);
  }
  .container-menu:nth-child(n + 2) {
    gap: 0;
  }
  .container-menu a:hover {
    border-top: none;
    color: var(--main-color);
    padding-top: 0;
  }
}
